/* Color Palette: https://coolors.co/292929-5bc0eb-e55934-fa7921-fffff0 */

.content {
  max-width: 1200px;
  display: grid;
  gap: 1rem;
  align-content: space-evenly;
}

@media (min-width: 900px) {
  .content { grid-template-columns: repeat(2, 1fr); }
  .card { grid-template-columns: repeat(2, 1fr);}
  .card-icon {width: 75%;}
}

@media (max-width: 500px) {
    .header {font-size: large;}
    .card {font-size: large;}
}

.card {
    padding: 1rem;
    gap: 1rem;
    display: grid;
}

.card-icon {
    width: 100%;
}

.card-title {
    font-size: 4rem;
    align-self: end;
    word-break: break-all;
}

.heading {
    font-weight: bolder;
    position: relative;
    text-transform: uppercase;
}

.card > img {
    border-radius: 0.25rem;
}

.card:hover, a:hover {
    text-shadow: .25rem 0.25rem #E55934;
    transition: 0.125s;
}