@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body {
  background: #e3e3e3;
}

main .container {
  background: white;
}

.row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Custom Button stylings for CalcuSplit and CalcuRun */
.btn-calcurun {
  background-color: #7b2021;
  color: white;
}

a.btn-calcurun:hover {
  color: white;
  background-color: rgba(132, 32, 34, 0.80);
}

/* Custom navbar and footer colors for CalcuSplit and CalcuRun */
nav#calcurun, footer#calcurun {
  background-color: #7b2021;
}

nav#calcusplit, footer#calcusplit {
  background-color: #398a41
}

.footer .bi, footer span {
  color: white;
  justify-content: center;
}

footer div {
  justify-content: space-between;
  align-items: center;
}

/* Images and icons*/
img.icon {
  max-height: 100px;
  width: auto;
  border-radius: 10px;
}

img.screenshot {
  max-height: 500px;
  width: auto;
  filter: drop-shadow(5px 5px 5px black);
  padding-bottom: 5px;
  border-radius: 10px;
}

.bi.h1.calcurun {
  color: white;
  background-color: #7b2021;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.calcurun-row {
  background-color: rgba(132, 32, 34, 0.80);
  color: white;
}
