body {
    background-color: #292929;
    font-family: "Fira Sans", sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 9fr;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    margin: 5%;
}

.header {
    grid-area: 1 / 1 / span 1 / span 2;
    color: #E55934;
    font-size: 3rem;
    text-align: right;
}

.menu {
    grid-area: 2 / 1;
}

.menu > a {
    text-decoration: none;
}

.menu-item {
    color: #FFFFF0;
    font-size: 4rem;
    transition: 0.25s;
    transition-timing-function: ease-in-out;
    text-align: end;
}
.menu-item:hover {
    color: #5BC0EB;
    font-size: 5rem;
    cursor: pointer;
}

.menu-image-container {
    grid-area: 2 / 2 / span 1 / span 1;
}

.menu-image {
    display: none;
    width: 1fr;
    opacity: 0%;
    transition: 2s;
    transition-timing-function: ease-in-out;
}

img {
    width: 100%;
    border-radius: 1rem;
}