@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body {
  background: #e3e3e3;
}

main .container-lg {
  background: white;
}

/* Custom Button stylings for CalcuSplit and CalcuRun */
.btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-calcurun {
  background-color: #7b2021;
  color: white;
}

a.btn-calcurun:hover {
  color: white;
  background-color: rgba(132, 32, 34, 0.80);
}

.btn-calcusplit {
  background-color: #398a41;
  color: white;
}

a.btn-calcusplit:hover {
  color: white;
  background-color: rgba(57, 138, 65, 0.80);
}

a.btn-dark:hover {
  color: white;
  background-color: rgba(33, 37, 41, 0.80);
}

a.btn-light:hover {
  background-color: rgba(255, 255, 255, 0.80);
}

/* Custom navbar and footer colors for CalcuSplit and CalcuRun */
nav#calcurun, footer#calcurun {
  background-color: #7b2021;
}

nav#calcusplit, footer#calcusplit {
  background-color: #398a41
}

.footer .bi, footer span {
  color: white;
  justify-content: center;
}

footer div {
  justify-content: space-between;
  align-items: center;
}

/* Images and icons*/
img {
  padding-top:5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

img.icon {
  max-height: 100px;
  padding: 0px;
  border-radius: 10px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
}

img.screenshot {
  border-radius: 3.5%/2.3%;
  filter: drop-shadow(5px 5px 5px black);
  max-height: 594.5px;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
}

.bi.h1 {
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 10px;
}

.bi.h1.calcurun {
  background-color: #7b2021;
}

.bi.h1.calcusplit {
  background-color: #398a41;
}

.bi.h1.calcusplit.premium{
  background-color: white;
  color: #398a41;
}

/* Bootstrap Rows */
.row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.calcurun-row {
  background-color: rgba(132, 32, 34, 0.80);
  color: white;
}

.calcusplit-row {
  background-color: rgba(57, 138, 65, 0.80);
  color: white;
}

.home-row {
  background-color: rgba(33, 37, 41, 0.80);
  color: white;
}
