/* Color Palette: https://coolors.co/292929-5bc0eb-e55934-fa7921-fffff0 */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Paytone+One&display=swap');

* {
    padding: 0;
    margin: 0;
}

html, body {
    font-family: 'Paytone One', sans-serif;
    color: #FFFFF0;
    background-color: #292929;
    width: 100vw;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header'
        'content'
        'footer';
    gap: 1rem;
    height: 100vh;
}

.header {
    grid-area: header;
    border-bottom: solid 0.5rem #E55934;
    text-align: right;
    word-wrap: normal;
    display: grid;
}

.content {
    display: grid;
    grid-area: content;
}

.footer {
    grid-area: footer;
    border-top: solid 0.5rem #E55934;
    align-self: flex-start;
    grid-template-columns: repeat(2, 1fr);
    font-size: 2rem;
    text-align: end;
}

.header, .footer {
    padding: 2rem 1rem 2rem 1rem;
}

.head-foot-link {
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0.25rem;
}

.header {
    font-size: 4rem;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: end;
}

a {
    text-decoration: none;
    color: #FFFFF0;
}

a.calcusplit:hover {
    background-color: #398A41;
}

a.lettercode:hover {
    background-color: #434343;
    color: #FFFF96;
}

a.calcurun:hover {
    background-color: #ed5959;
}

a:hover {
    background-color: #E55934;
    color: #292929;
}

.scramble {
    touch-action: none;
}

@media screen and (max-width: 700px) {
    .header {
        font-size: 2rem !important;
    }

    .header, .footer {
        padding: 1rem 0rem 1rem 0rem;
    }

    .menu-container {
        padding: 1rem 0rem 1rem 0rem;
    }

    .menu-item {
        padding: 1rem !important;
        font-size: 3rem !important;
    }
}