.window {
    display: block;
    position: absolute;
    border: var(--crt-amber) 5px solid;
    background: var(--crt-bg);
    display: flex;
    flex-direction: column;
    height: 66%;
    width: 66%;
    max-width: 1000px;
    scale: 1.0;
    z-index: 2;
    transition: none !important;
    will-change: transform, left, top;
    will-change: display;
}

.window-active {
    z-index: 10;
}

.window-max {
    position: static !important;
    width: 100%;
    height: 100%;
    max-width: 100%;
    left: 0px;
    top: 0px;
}

.window-in-taskbar, .window-closed {
    display: none;
}

.window-header {
    background-color: var(--crt-amber);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    height: 30px;
    font-weight: bold;
}

.draggable .window-header:hover {
    cursor: move;
    user-select: none;
}

.window-header img {
    height: 20px;
    width: 20px;
    border: var(--crt-bg) 3px solid;
    margin: 2px;
}

.window-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.window-button {
    cursor: pointer;
}

.window-button-hidden {
    display: none;
}

.window-body {
    padding: 20px;
    color: var(--crt-amber);
    overflow: scroll;
}

.window-body p {
    margin: 3rem 0 3rem 0;
    line-height: 1.5rem;
}

.app-store-link, .privacy-button {
    width: fit-content;
    cursor: pointer;
}

.app-screenshot-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    object-fit: contain;
}

.app-screenshot {
    margin: 0.25rem;
    max-width: 30%;
    max-height: 750px;        
    border: var(--crt-amber) 2px solid;
}

.privacy-button {
    margin-top: 2rem;
}

.privacy-policy {
    line-height: 0rem;
}

.privacy-policy-hidden {
    display: none;
}